//colors

$white: #ffffff;
$black: #000000;

$colors: (
    primary: theme('colors.blue.500'),
    default : theme('colors.gray.500'),
    success : theme('colors.green.500'),
    danger :   theme('colors.red.600'),
    warning : theme('colors.yellow.500'),
    info : theme('colors.indigo.600')
);

$colors-hover: (
    primary: theme('colors.blue.600'),
    default : theme('colors.gray.600'),
    success : theme('colors.green.700'),
    danger :   theme('colors.red.700'),
    warning : theme('colors.yellow.500'),
    info : theme('colors.indigo.700')
);

$colors-badge: (
    primary: theme('colors.indigo.700'),
    default : theme('colors.gray.300'),
    success : #a4c639,
    danger :   theme('colors.red.600'),
    warning : #fffc00,
    info : theme('colors.blue.1000'),
);

$sizes: (
    xs: .75rem,
    sm: .875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.5rem
)
