//colors

$yiq-light-color: $color-white;
$yiq-dark-color: $color-gray-600;

$colors: (
    primary: $color-blue-500,
    default : $color-gray-200,
    success : $color-green-500,
    danger :  $color-red-600,
    warning : $color-yellow-500,
    info : $color-indigo-600,
);

$colors-badge: (
    primary: $color-indigo-700,
    default : $color-gray-300,
    success : $color-green-500,
    danger : $color-red-600,
    warning : $color-yellow-200,
    info : $color-blue-900,
);

$sizes: (
    xs: .75rem,
    sm: .875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.5rem
)
