.badge {
    @apply bg-gray-200 py-1 px-3 text-sm rounded-full text-gray-700 whitespace-no-wrap;

    @each $theme, $color in $colors {

        &-#{$theme} {
            background-color: $color;

            &-outline {
                border: 1px solid $color;
                color: $color;
                @apply bg-white;

                &:not(:disabled):hover,
                &:not(:disabled):focus {

                    background-color: $color;
                    color: $white;
                }
            }
        }
    }

    @each $theme, $color in $colors-hover {

        &-#{$theme}:not(:disabled):hover,
        &-#{$theme}:not(:disabled):focus {
            background-color: $color;
        }
    }

    @each $element, $size in $sizes {
        &-#{$element} {
            font-size: $size;
            line-height: $size;
            padding: ($size * 0.4) ($size * 0.8);
        }
    }
}
