.btn {
    @apply inline-block text-center rounded py-4 px-12 tracking-wider transition text-white font-medium;

    &:focus {
        @apply outline-none shadow-outline;
    }

    &-block {
        @apply w-full block;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    @each $theme, $color in $colors {

        &-#{$theme} {
            background-color: $color;

            &-outline {
                border: 1px solid $color;
                color: $color;
                @apply bg-white;

                &:not(:disabled):hover,
                &:not(:disabled):focus {

                    background-color: $color;
                    color: $white;
                }
            }
        }
    }

    @each $theme, $color in $colors-hover {

        &-#{$theme}:not(:disabled):hover,
        &-#{$theme}:not(:disabled):focus {
            background-color: $color;
        }
    }

    @each $element, $size in $sizes {
        &-#{$element} {
            font-size: $size;
            line-height: ($size * 1.2);
            padding: ($size * 0.8) ($size * 1.15);
        }
    }

    &:disabled {
        @apply text-gray-400 bg-gray-200 border border-gray-400;
        cursor: not-allowed;
    }

    &-link {
        @apply bg-transparent shadow-none text-blue-800;

        &:hover {
            @apply underline;
        }
    }

    &-shadow {
        box-shadow: 0 10px 20px 0 rgba(163, 191, 250, 0.14), 0 40px 40px -5px rgba(127, 156, 245, 0.4);
    }

    &-rounded {
        @apply rounded-full;
    }

    &-circle {
        @apply rounded-full px-2 py-2 flex items-center justify-center leading-none;
    }

    &-dark {
        @apply text-white;

        &:not(:disabled):hover,
        &:not(:disabled):focus {

            @apply text-white;
        }
    }

    &-light {
        @apply text-gray-600;

        &:not(:disabled):hover,
        &:not(:disabled):focus {

            @apply text-white;
        }
    }

    &-copy {
        @apply cursor-pointer;

        &__label {
            @apply text-blue-500 font-medium hidden text-sm;
        }

        &:hover &__label {
            @apply inline;
        }

        &--copied &__label {
            @include fadeOutUp();
        }
    }
}
