.btn {
    @apply inline-block text-center rounded py-4 px-12 tracking-wider transition text-white font-medium;

    &:focus {
        @apply outline-none shadow-outline;
    }

    &-block {
        @apply w-full;
    }

    &-sm {
        @apply text-xs py-1 px-4;
    }

    &-lg {
        @apply py-6 px-16;
    }

    @each $theme, $color in $colors {

        &-#{$theme} {
            background-color: $color;

            &-outline {
                border: 1px solid $color;
                color: $color;
                @apply bg-white;

                &:not(:disabled):hover,
                &:not(:disabled):focus {

                    background-color: $color;
                    color: $white;
                }
            }
        }
    }

    @each $theme, $color in $colors-hover {

        &-#{$theme}:not(:disabled):hover,
        &-#{$theme}:not(:disabled):focus {
            background-color: $color;
        }
    }

    &-link {
        @apply bg-transparent shadow-none text-blue-800;

        &:hover {
            @apply underline;
        }
    }

    &-shadow {
        box-shadow: 0 10px 20px 0 rgba(163, 191, 250, 0.14), 0 40px 40px -5px rgba(127, 156, 245, 0.4);
    }

    &-rounded {
        @apply rounded-full;
    }

    &-dark {
        @apply text-white;
    }

    &-light {
        @apply text-gray-600;
    }

    &-copy {
        @apply cursor-pointer;

        &__label {
            @apply text-blue-500 font-medium hidden text-sm;
        }

        &:hover &__label {
            @apply inline;
        }

        &--copied &__label {
            @include fadeOutUp();
        }
    }
}
