.dropdown {
    @apply relative;

    &-title {
        @apply cursor-pointer flex items-center transition;

        &__active {

        }

        .icon {
            @apply ml-3 text-gray-400;
        }

        &:hover {
            .icon {
                @apply text-blue-300;
            }
        }
    }

    &-menu {
        @apply py-2 w-64 border border-gray-300 rounded bg-white shadow-xl absolute hidden;
        z-index: 100;
        right: 0;
        top: calc(50% + 30px);
        left: inherit;
        margin-right: .5rem;

        @include fadeInDown(
            $duration: .3s
        );

        &.arrow:before {
            @apply absolute;
            content: '';
            top: -7px;
            right: 10px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $color-white;
            z-index: 2;
        }

        &.arrow:after {
            content: '';
            position: absolute;
            top: -9px;
            right: 8px;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid $color-gray-300;
        }
    }

    &.open &-menu {
        @apply block;
    }

    &-divider {
        @apply h-0 my-2 overflow-hidden border-t border-gray-300;
    }

    &-link {
        @apply block px-6 py-2 mx-2 rounded;

        &:hover {
            @apply bg-blue-100;
        }
    }

    &-button {
        @apply block px-3 py-3 mx-2 rounded bg-blue-500 text-white text-center transition;

        .fas {
            @apply text-xl;
        }

        &:hover {
            @apply text-white bg-blue-700;
        }
    }
}
