.form-group {
    @apply relative mb-5;

    label {
        @apply block w-full text-gray-700;
    }

    &:last-child {
        @apply mb-0;
    }

    .form-control {
        @apply appearance-none border w-full py-3 px-5 h-16 text-gray-700 rounded block border-gray-300 bg-white transition;
        height: 3.5rem;

        &:focus,
        &:hover {
            @apply outline-none border-blue-500 bg-white;
        }

        &.is-invalid {
            @apply border-red-500;
        }

        &-lg {
            @apply text-xl py-4;
            height: 4rem;

            + label {
                @apply text-xl;
                line-height: 3.5rem;
            }
        }

        &-ip {
            input {
                background: none;
                width: 30px;
            }
        }
    }

    &.is-required {
        &::before {
            @apply absolute text-blue-300 transition;
            content: "*";
            right: 13px;
            top: 17px;
            z-index: 1;
        }
    }

    select {
        &.form-control {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 0.5rem center;
            background-size: 1.5rem 1.5rem;
        }
    }


    &.is-invalid {
        &.is-required {
            &::before {
                @apply text-red-700;
            }
        }

        .form-control {
            @apply border-red-500;
        }

        label {
            @apply text-red-700;
        }
    }

    .invalid-feedback {
        @apply text-red-500 ml-3 text-sm;
    }

    &-labeled {
        label {
            @apply absolute top-0 left-0 block w-full px-5;
            line-height: 3.5rem;
        }

        .form-control {
            &::placeholder {
                color: transparent;
            }

            &:focus,
            &:hover {
                @apply outline-none border-blue-500 bg-white;

                &:not(:placeholder-shown) {
                    + label {
                        @apply text-blue-700;
                    }
                }
            }

            &:focus,
            &:not(:placeholder-shown) {
                @apply pb-1 pt-6;

                + label {
                    @apply text-gray-600 font-bold;
                    padding-top: .65rem;
                    font-size: .8rem;
                    line-height: 1rem !important;
                }
            }
        }
    }

    &-checkbox {
        @apply inline-flex items-center;

        label {
            @apply text-gray-700;
        }
    }
}
