.price-table {
    @apply my-12;

    > h2 {
        @apply font-light;
    }

    &__bg {
        @apply py-8;
        //background-image: linear-gradient(30deg, #f7f8fa 0%, #f0f1fa 100%);
    }

    &__items {
        @apply flex justify-center pb-8 ;
        //background-image: linear-gradient(110deg, #f2f3fa 0%, #fcfdff 100%)
    }

    &__item {
        @apply flex flex-col justify-start shadow-lg bg-white transition w-1/3 p-8 rounded-lg relative;

        &--title {
            @apply mb-6 text-3xl text-center;
        }

        &--features {
            @apply mt-6 mb-4;
        }

        &--feature {
            @apply font-bold text-gray-600;

            .icon {
                @apply text-green-400 py-3 mr-3;
            }
        }
        &--price {
            min-height: 3rem;
        }

        &--badge {
            @apply uppercase text-indigo-100 left-0 w-full text-sm absolute font-bold text-center p-3 rounded-t align-middle;
            min-height: 3rem;
            bottom: 95%;
            background-color: darken($color-indigo-600, 0.8);
        }

        &:not(:last-child) {
            @apply mr-8;
        }

        &.current {
            @apply bg-indigo-600 text-white;

            .price-table__item--feature {
                @apply text-white;

                .icon {
                    @apply text-white;
                }
            }
            .price-table__item--title {
                @apply my-3;
            }
        }

        &.changeable {
            &:hover {
                @apply shadow-2xl;
            }
        }
    }
}
