$circle-size: 45px;
$circle-dot-size: 20px;
$server-icon-size: 20px;
$server-icon-color: $color-blue-400;

.servers-list {
    &-item {
        &-wrapper {
            @apply border border-blue-200 bg-white flex transition items-center justify-between py-3;

            &:first-child {
                @apply rounded-t;
            }

            &:last-child {
                @apply rounded-b;
            }

            &:not(:last-child) {
                @apply border-b-0;
            }

            &:hover {
                @apply shadow-lg;
                border-left-color: $color-blue-500;
            }
        }

        &__status {
            @apply border-2 rounded-full bg-white;

            width: $circle-size;
            height: $circle-size;
            position: relative;
            border-color: $server-icon-color;

            .icon {
                @apply absolute text-2xl;
                top: 11px;
                left: 11px;
                font-size: $server-icon-size;
                color: $server-icon-color;
            }
        }

        &__name {
            @apply flex-1 text-blue-500 mb-0 text-lg;
        }

        &__project {
            @apply text-sm text-gray-600 w-32;
        }

        &__address {
            @apply text-sm text-gray-600;
        }

        &__actions {
            @apply mx-6 py-3 text-gray-700 cursor-pointer;

            &:hover {
                @apply text-blue-500;
            }
        }
    }
}

.status-indicator {
    @apply rounded-full border-2 border-white absolute;
    height: $circle-dot-size;
    width: $circle-dot-size;
    bottom: -3px;
    right: -3px;
    border-width: 3px;

    &.configured {
        @apply bg-green-500;
    }

    &.configuring {
        @apply bg-blue-500;
    }

    &.failed {
        @apply bg-red-500;
    }

    &.pending {
        @apply bg-gray-500;
    }
}
