.table {
    @apply min-w-full table-fixed border-0 text-left bg-white;
    box-shadow: 0 0 0 2px $color-gray-200;
    margin-left: 2px;
    border-style: hidden;

    thead {
        tr {
            @apply bg-gray-100 border-b-2 border-gray-200;

            th, td {
                @apply pt-3 pb-1 text-blue-500 font-medium;

                &:first-child {
                    @apply pl-5;
                }

                &:last-child {
                    @apply pr-5;
                }
            }

            &:first-child {
                &:first-child {
                    @apply rounded-tl;
                }

                &:last-child {
                    @apply rounded-tr;
                }
            }
        }
    }

    tbody {
        tr {
            &:not(:last-child) {
                @apply border-b-2 border-gray-200;
            }

            th, td {
                @apply py-5;
                min-width: 10rem;

                &:first-child {
                    @apply pl-5;
                }

                &:last-child {
                    @apply pr-5;
                }
            }

            &:last-child {
                &:first-child {
                    @apply rounded-bl;
                }

                &:last-child {
                    @apply rounded-br;
                }
            }
        }
    }
}
