.table {
    @apply w-full table-fixed border-0 text-left;
    box-shadow: 0 0 0 2px theme('colors.gray.300');
    margin-left: 2px;
    border-style: hidden;

    thead {
        tr {
            @apply bg-gray-200;

            th, td {
                @apply py-3 text-gray-700 text-xs;

                &:first-child {
                    @apply pl-5;
                }

                &:last-child {
                    @apply pr-5;
                }
            }

            &:first-child {
                &:first-child {
                    @apply rounded-tl;
                }

                &:last-child {
                    @apply rounded-tr;
                }
            }
        }
    }

    tbody {
        tr {
            &:not(:last-child) {
                @apply border-b-2;
            }

            th, td {
                @apply py-5 ;

                &:first-child {
                    @apply pl-5;
                }

                &:last-child {
                    @apply pr-5;
                }
            }

            &:last-child {
                &:first-child {
                    @apply rounded-bl;
                }

                &:last-child {
                    @apply rounded-br;
                }
            }
        }
    }
}