@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

.animated-progress {
    background-size: 30px 30px;
    background-image: linear-gradient(
                    45deg,
                    rgba(black, 0.1) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(black, 0.1) 50%,
                    rgba(black, 0.1) 75%,
                    transparent 75%,
                    transparent
    );
    animation: barberpole 1s linear infinite;
}
